#TitleGame {
    text-align: center;
    
}

#game{
    margin-left: 400px;
    font-size: 50px;
    
}

img {
    height: 150px;
    border-radius: 20%; 
    float: left;  
    margin-right: 100px;
    cursor: pointer

   
}

.historial{
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 22%;
    top: 30%;
    transform: translateX(50%) translateY(50%);
    
}
#resultadoPartida{
    background-color: grey;
    border:3px solid black;
    font: oblique bold 120% cursive;
}

.botonLimpiar {
    display: grid;
    height: 50px;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  button:active{ 
    background:grey; 
}

button{
    font-size: 15px;
    cursor: pointer;


}
#resultadoMaquina{
    font-size: 20px;
    background-color: white;
}